<section class="search-section">

    <div class="container text-center p-3 mt-3" id="search-container">
        <div class="row">
            <h1>Car Searching Just Got So Easy</h1>
            <p class="lead">Find your dream car with ease on our platform. Start your car buying journey today.
            </p>
        </div>

        <form action="{% url 'search-listings' %}">
            <div class="row">
                <div class="col-md-3 mb-2">
                    <label class="sr-only" for="keyword">Keyword:</label>
                    <input type="text" class="form-control" name="keywords" id="keyword" placeholder="Keyword (Toyota)" value="{{ values.keywords }}">
                </div>
                <div class="col-md-3 mb-2">
                    <label for="town" class="sr-only">Town:</label>
                    <input type="text" class="form-control" name="town" id="town" placeholder="Town" value="{{ values.town }}">
                </div>
                <div class="col-md-3 mb-2">
                    <label for="county" class="sr-only">County:</label>
                    <select name="county" class="form-select" id="county">
                        <option selected value="">County (All)</option>
                        {% for key,option in counties %}
                        <option value="{{ key }}"
                        {% if key == values.county %}
                        selected
                        {% endif %}
                        >{{ option }}</option>
                        {% endfor %}
                    </select>

                </div>

                <div class="col-md-3 mb-2">
                    <label for="fuel" class="sr-only">Fuel Type:</label>
                    <select class="form-select" name="fuel" id="fuel">
                        <option selected value="">Fuel Type (All)</option>
                        {% for key,option in fuel_type %}
                        <option value="{{ key }}"
                        {% if key == values.fuel %}
                        selected
                        {% endif %}
                        >{{ option }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row mt-md-3">
                <div class="col-md-3 mb-2">
                    <label for="min_year" class="sr-only">Min Year:</label>
                    <select class="form-select" name="min_year" id="min_year">
                        <option selected value="0" disabled>Min Year</option>
                        {% for key,option in years %}
                        <option value="{{ key }}"
                        {% if key == values.min_year %}
                        selected
                        {% endif %}
                        >{{ option }}</option>
                        {% endfor %}

                    </select>
                </div>
                <div class="col-md-3 mb-2">
                    <label for="max_year" class="sr-only">Max Year:</label>
                    <select class="form-select" name="max_year" id="max_year">
                        <option selected value="0" disabled>Max Year</option>
                        {% for key,option in years %}
                        <option value="{{ key }}"
                        {% if key == values.max_year %}
                        selected
                        {% endif %}
                        >{{ option }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3 mb-2">
                    <label for="min_price" class="sr-only">Min Price:</label>
                    <select class="form-control" name="min_price" id="min_price">
                        <option selected value="0" disabled>Min Price:</option>
                        {% for key,option in price_options %}
                        <option value="{{ key }}"
                        {% if key == values.min_price %}
                        selected
                        {% endif %}
                        >{{ option }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-3 mb-2">
                    <label for="min_price" class="sr-only">Max Price:</label>
                    <select class="form-control" name="max_price" id="max_price">
                        <option selected value="0" disabled>Max Price:</option>
                        {% for key,option in price_options %}
                        <option value="{{ key }}"
                        {% if key == values.max_price %}
                        selected
                        {% endif %}
                        >{{ option }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-green text-white btn-lg mt-3">Search</button>
        </form>
    </div>
</section>