{% extends 'base.html' %}
{% block title %}
Delete Profile
{% endblock title %}

{% block content %}
<section class="delete-profile-form">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4 mx-auto text-center my-5 p-4 shadow-container">
                <h2>Are you sure you want to delete your profile?</h2>
                <div>
                    <h5 class="text-danger">You are about to delete your account.
                        <br>
                        This action cannot be undone.
                    </h5 class="text-danger">
                    
                </div>
                <form method="POST" action="{% url 'delete-profile' %}" class="mt-3">
                    {% csrf_token %}
                   
                   
                    <!-- Submit button -->
                    <a href="{% url 'profile' %}" class="btn btn-blue text-white">Go Back</a>
                    <button type="submit" class="btn btn-danger text-white">Delete Profile</button>
                    
                </form>

            </div>
        </div>
    </div>

</section>
{% endblock content %}