{% extends 'base.html' %}
{% block title %}
Register
{% endblock title %}

{% block content %}
<section class="register-form">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4 mx-auto text-center my-5 p-4 shadow-container">
                <h2>Sign Up</h2>
                <form method="POST" action="{% url 'register' %}" class="mt-3">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <!-- Username input -->
                    <!-- <div class="form-floating mb-4">
                        <input type="text" name="username" id="username" class="form-control" placeholder="User name" />
                        <label class="form-label" for="username">User name</label>
                    </div> -->
                    <!-- Password input -->
                    <!-- <div class="form-floating mb-4">
                        <input type="password" name="password" id="password" class="form-control" placeholder="Password" />
                        <label class="form-label" for="password">Password</label>
                    </div> -->
                    <!-- Password2 input -->
                    <!-- <div class="form-floating mb-4">
                        <input type="password" name="password2" id="password2" class="form-control" placeholder="Repeat Password" />
                        <label class="form-label" for="password2">Repeat Password</label>
                    </div> -->

                    <div class="row mb-4">
                        <div class="col">
                            <a href="{% url 'login' %}">Already have an account? Log In</a>
                        </div>
                    </div>
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-lg btn-blue text-white btn-block mb-4">Sign Up</button>
                </form>

            </div>
        </div>
    </div>

</section>
{% endblock content %}