{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block title %}
User Account
{% endblock title %}

{% block content %}
<section class="profile">
    <div class="container">
        <div class="row">
            <div class="col-12 mx-auto text-center my-5 p-2 shadow-container">
                <h2 class="py-5">{{ profile.name }}'s Profile</h2>
                <div class="container">
                    <div class="row justify-content-center profile-row">
                        <div class="col-12 col-lg-2 m-3">
                            <div class="container sidebar text-start p-2 border-container">
                                <div class="row">
                                    <div class="col-12">
                                        <a href="{% url 'user-account' profile.id %}" class="btn btn-sidebar p-0 active">Profile</a>
                                    </div>
                                </div>
    
                                <div class="row">
                                    <div class="col-12">
                                        <a href="{% url 'user-account-listings' profile.id %}" class="btn btn-sidebar p-0">Listings</a>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        <div class="col-12 col-lg-9 my-3 py-5 shadow-container" id="profile-container">

                            <div class="row d-flex justify-content-center">
                                <div class="image-container p-3">
                                    <img class="profile-image" src="{{ profile.profile_image.url }}"
                                        alt="user profile image">
                                </div>
                            </div>

                            <h4>{{ profile.name }}</h4>
                            <p>{{ profile.username }}</p>
                            <p>{{ profile.town }}, {{ profile.county }}</p>
                            <div class="row p-3  d-flex flex-column align-items-center">
                                <h4>Contact Details:</h4>
                                <div class="col-12 text-center m-auto">
                                    <p>Email: {{ profile.email }}</p>
                                    <p>Phone: {{ profile.phone }}</p>
                                </div>

                            </div>

                            <div class="row p-3">
                                <h4>About Me:</h4>
                                <div class="col px-2">
                                    <p>{{ profile.about_me }} </p>
                                
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}