{% extends 'base.html' %}
{% block title %}
500
{% endblock title %}

{% block content %}
<section class="500-page">
    <div class="container">
        <div class="row shadow-container  my-4 align-items-center" id="error-container-row">
            <div class="col-sm-10 col-lg-8  mx-auto text-center my-5 p-4">
                <h2>Error: 500 Internal Server Error</h2>
                <p>The server encountered an error and could not complete your request</p>
                <a href="{% url 'home' %}" class="btn btn-blue text-white">Go Back Home</a>
             
            </div>
        </div>
    </div>

</section>
{% endblock content %}