/* Root colors */
:root {
  --blue-background: rgba(80, 106, 135, 0.8);
  --dark-blue-background: rgba(63, 84, 108, 0.8);
  --page-background: rgb(231, 236, 242);
  --white: #fff;
  --violet: #7284c9;
  --light-gray: #c9c9c9;
}

body {
  background-color: rgb(231, 236, 242);
}

/* Navbar */
.header-nav {
  background-color: var(--blue-background);
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--white);
  font-weight: 600;
}

.navbar-dark .navbar-brand {
  color: var(--white);
}

.logo {
  height: 47px;
}

/* Django Messages */
.message-container {
  background-color: var(--blue-background);
}

/* Hero section */
#hero-image {
  background-image: url(/static/images/hero-image.avif);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 50px;
}

.hero-text-container {
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}

.hero-text-container h1 {
    font-size: 2.5rem;
}

/* LogIn page */
.shadow-container {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: -1px 1px 18px 4px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: -1px 1px 18px 4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: -1px 1px 18px 4px rgba(0, 0, 0, 0.42);
}

.shadow-container input {
  background-color: var(--page-background);
}

.shadow-container a {
  text-decoration: none;
  color: var(--violet);
}

.btn-blue {
  background-color: #4465aa;
}

/* profile page */
.border-container {
  border: 2px solid var(--light-gray);
}
.image-container {
  height: 250px;
  width: 250px;
}
.profile-image {
  width: 100%;
  height: auto;
  border-radius: 25%;
}

.blue {
  background-color: var(--blue-background);
}

/* Footer */
#footer {
  background-color: var(--blue-background);
  color: var(--white);
}

#social-links a {
  text-decoration: none;
}

.copyright {
  background-color: var(--dark-blue-background);
}
