/* Root colors */
:root {
  --blue-background: rgba(80, 106, 135, 0.8);
  --dark-blue-background: rgba(63, 84, 108, 0.8);
  --page-background: rgb(231, 236, 242);
  --white: #fff;
}

body {
  background-color: rgb(231, 236, 242);
}

/* Navbar */
.header-nav {
  background-color: var(--blue-background);
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--white);
  font-weight: 600;
}

.navbar-dark .navbar-brand {
  color: var(--white);
}

.logo {
  height: 47px;
}

/* Hero section */
#hero-image {
  background-image: url(/static/images/hero-image.avif);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 50px;
}

.hero-text-container {
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}

.hero-text-container h1 {
    font-size: 2.5rem;
}

/* Footer */
#footer {
  background-color: var(--blue-background);
  color: var(--white);
}

#social-links a {
  text-decoration: none;
}

.copyright {
  background-color: var(--dark-blue-background);
}
