@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;600&family=Special+Elite&family=Vast+Shadow&display=swap');
/* Root colors */
:root {
  --blue-background: rgba(80, 106, 135, 0.8);
  --dark-blue-background: rgba(63, 84, 108, 0.8);
  --page-background: rgb(231, 236, 242);
  --white: #fff;
  --violet: #7284c9;
  --light-gray: #c9c9c9;
  --blue-btn: rgba(87, 135, 189, 0.8);
  --blue-btn-hover: rgba(138, 176, 219, 0.8);
  --dark-blue-text: #10284e;
  --green: #2fbd7d;
  --light-green: #65d4a2;
}

html {
  height: 100%;
}
body {
  background-color: rgb(231, 236, 242);
  font-family: 'Roboto Slab';
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Navbar */
.header-nav {
  background-color: var(--blue-background);
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--white);
  font-weight: 600;
}

.navbar-dark .navbar-brand {
  color: var(--white);
}

.logo {
  height: 47px;
}

a.active {
  /* background-color: rgba(154, 167, 183, 0.8); */
  border-bottom: 1px solid var(--white);
  font-weight: 800;
}

/* Django Messages */
.message-container {
  background-color: var(--blue-background);
}

/* Hero section */
#hero-image {
  background-image: url(/static/images/hero-image.avif);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 50px;
}

.hero-text-container {
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}

.hero-text-container h1 {
    font-size: 2.5rem;
    font-family: 'Roboto Slab', sans-serif;
}

/* LogIn page */
.shadow-container {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: -1px 1px 18px 4px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: -1px 1px 18px 4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: -1px 1px 18px 4px rgba(0, 0, 0, 0.42);
}

.shadow-container input {
  background-color: var(--page-background);
}

.shadow-container select {
  background-color: var(--page-background);
}

.shadow-container h1, .shadow-container h2 {
  color: var(--dark-blue-background)
}

.shadow-container a {
  text-decoration: none;
  color: var(--violet);
}

.btn-blue {
  background-color: var(--blue-btn);
}

.btn-blue:hover {
  background-color: var(--blue-btn-hover);
}

/* Search Container */
#search-container {
    background-color: var(--blue-background);
    color: var(--white);
}

.btn-green {
  background-color: var(--green);
}

.btn-green:hover {
  background-color: var(--light-green);
}

/* Listing results */

.card-link,
i {
    text-decoration: none;
    color: var(--dark-blue-text);
}

.card-image {
    height: 250px;
    object-fit: cover;
}

/* Single listing */
#main-image {
  height: 500px;
  object-fit: contain;
  border: 2px solid black;
}
.seller-card {
  background-color: var(--page-background);
}
.img-thumb {
  width: auto;
  height: 100%;
  object-fit: cover;
}
.custom-icon {
  color: #000;
}
.seller-image-container {
  height: 120px;
  width: 120px;
}
#contactMessage {
  height: 250px;
}

/* profile page */
.border-container {
  border: 2px solid var(--light-gray);
}
.image-container {
  display: flex;
  justify-content: center;
  height: 250px;
  width: 250px;
}
.profile-image {
  max-width: 100%;
  border-radius: 25%;
}

.blue {
  background-color: var(--blue-background);
}

.listings-color a {
  color: var(--dark-blue-text);
}

.btn-sidebar {
  color:var(--violet)
}


.btn-sidebar.active {
  color:var(--dark-blue-text);
}

.profile-row {
  min-height: 767px;
}

/* Delete profile confirmation page */
#sad-car-image {
  background-image: url(../images/sad_car.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 296px;
}

/*Error Pages */
#error-container-row {
  height: 420px;
}

/* Footer */
#footer {
  background-color: var(--blue-background);
  color: var(--white);
  margin-top: auto;
}

#social-links a {
  text-decoration: none;
}

#social-links a i{
  color: var(--white);
  font-size: 25px;
}

.copyright {
  background-color: var(--dark-blue-background);
}

@media (max-width: 500px) {
  #hero-image {
    height: 220px;
  }

  /* #main-image {
    height: 500px;
  } */


}

@media (max-width: 700px) {
  #hero-image {
    height: 280px;
  }

  .hero-text-container h1{
    font-size: 1rem;
  }
}

@media (min-width: 701px) and (max-width: 1000px) {
  #hero-image {
    height: 415px;
  }

  .hero-text-container h1{
    font-size: 1rem;
  }
}